{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Dancing Gorilla Analysis</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
    <h1 class="center">ダンシングジェダイ診断</h1>
    <p class="center">BeatLeaderのリプレイを読み込んで、頭と手の移動距離と回転角を算出するよ。ついでにあなたのプレイスタイルを診断します。</p>
    <p class="center"><br>リプレイのURLを送信して数分お待ちください。<br>(サーバーの処理能力的に4人以上同時にするとタイムアウトすることがあります。ダメそうならまた後でやってみてね)</p>
    <p class="center">リプレイのアイコンを右クリックして「リンクのアドレスをコピー」、またはリプレイ画面で右クリックして「Copy URL」からコピーできます。</p>
    <p class="center">例: <a href="https://replay.beatleader.xyz/?scoreId=4922306">https://replay.beatleader.xyz/?scoreId=4922306</a></p>
    <div style="text-align: center;">
        <form action="{% url 'result' %}" method="get">
            {{ form }}
          <input type="submit" value="送信">
       </form>
    </div>
    <footer>
        <p><a href="https://github.com/hbpgan/dancing-gorilla-analysis/tree/main">Github</a></p>
    </footer>
</body>
</html>
